In [6]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta, date
from sqlalchemy import create_engine, MetaData, Table, func, inspect, extract
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from flask import Flask, jsonify

In [7]:
engine = create_engine('sqlite:///hawaii.sqlite2')
Base = automap_base()

In [8]:
Base.prepare(engine, reflect=True)
inspector = inspect(engine)
inspector.get_table_names()

['Measurements', 'station']

In [9]:
Base.classes.keys()

['Measurements', 'station']

In [10]:
mea_columns = inspector.get_columns('Measurements')

for column in mea_columns:
    print(column['name'], column['type'])

record_id INTEGER
station VARCHAR(15)
date DATE
prcp FLOAT
tobs FLOAT

In [11]:
stat_columns = inspector.get_columns('station')

for column in stat_columns:
    print(column['name'], column['type'])

station_id INTEGER
station VARCHAR(15)
name VARCHAR(250)
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [39]:
station1 = Base.classes.station
measurement1 = Base.classes.Measurements
session = Session(engine)

for instance in session.query(measurement1.tobs).limit(10).all():
    print(instance)

In [36]:
#Precipitation Analysis
import datetime as dt
one_year_ago = dt.date.today() - dt.timedelta(days=365)
one_year_ago

datetime.date(2017, 4, 25)